<script src="js/init.js"></script>

<div class="wrapper">
	<h2 id="checkOutHead" class="right-align animated fadeIn">SHIPPING SOON</h2>
	<div class="checkout container">

		<div ng-init="getTotal()">
		<div class="orderCell">
			<div class="row" id="orderGrid">
				<div ng-repeat="product in cart" id="imageSum" class="col l3 s12">
						<img class="cart-images" ng-src="{{product.imageUrl}}" width="250px" />
						<p ng-show="!ifNotClothing(product)" id="imageSumP">{{product.name}} <br>
						{{product.color}} | {{product.size}} | $ {{product.price}} 
						</p>	

            <p ng-show="ifNotClothing(product)" id="imageSumP">{{product.name}} <br>
            {{product.color}} | OS | $ {{product.price}} 
            </p>		

						<a class="removeOrder" ng-click="removeProductFromCart(product.refId)">REMOVE FROM CART</a>
					</div>
				</div>
			</div>
		</div>

			<h4 id="orderTotal" class="center-align">ORDER TOTAL: $ {{total}}</h4>

			<br>	
	
	<div class="row">

		<div class="col l6 s12" id="payOptions1">
			<h5 id="payHead">CHECKOUT AS GUEST</h5><br>
			<i class="fa fa-chevron-down fa-3x animated fadeInDown" id="guest"></i>
		</div>
			
			
			
			<div class="col l6 s12" id="payOptions2">
				<h5 id="payHead">CHECKOUT WITH PAYPAL</h5><br>
				<img class="paypal" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal" ng-click="paypalCheckout(); loading=true">

				<br>
				<br>
				
			<div class="progress animated fadeIn" ng-show="loading">
      			<div class="indeterminate"></div>
  			</div>
        
			</div>

	</div>

	<br>

	<div class="checkoutForm">
		<h3>GUEST CHECKOUT</h3>
			<div class="row">
				<form class="col l12 s12">

					<div class="row">
						<div class="input-field col s3">
							<input type="text" placeholder="FIRST" ng-model="firstName">
						</div>
						<div class="input-field col s3">
							<input type="text" placeholder="LAST" ng-model="lastName">
						</div>
						<div class="input-field col s5">
							<input type="email" placeholder="EMAIL" ng-model="email" required><br>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s9">
							<input type="text" placeholder="STREET ADDRESS" required>
						</div>
								
						<div class="input-field col s2">
							<input type="checkbox" id="bill" ng-model="checked" required>
							<label for="bill">DIFFERENT THAN BILLING</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s5">
							<input type="text" placeholder="CITY" required>
						</div>
						<div class="input-field col s4">
							<input type="text" placeholder="STATE" required>
						</div>
						<div class="input-field col s2">
							<input type="text" placeholder="ZIP" required>
						</div>
					</div>

							<!-- hidden billing address form -->

							<div class="row" ng-show="checked">
								<div class="input-field col s9">
									<input type="text" placeholder="BILLING ADDRESS" ng-model="street" required>
								</div>
							</div>

							<div class="row" ng-show="checked">
									<div class="input-field col s5">
										<input type="text" placeholder="CITY" ng-model="city" required>
									</div>
									<div class="input-field col s4">
										<input type="text" placeholder="STATE" ng-model="state" required>
									</div>
									<div class="input-field col s2">
										<input type="text" placeholder="ZIP" ng-model="zip" required>
									</div>
							</div>

							<!-- end of billing address form -->

					<div class="row">
						<div class="input-field col s2">
							<span class="btn-flat" href="javascript:void(0);" data-activates="ccType" ng-model="ccType" dropdown data-constrainwidth="false" data-gutter="15" data-beloworigin="true">TYPE</span>

							<ul id="ccType" class="dropdown-content">
						    <li><a href="javascript:void(0);">VISA</a></li>
						    <li><a href="javascript:void(0);">MASTERCARD</a></li>
						    <li><a href="javascript:void(0);">AMEX</a></li>
						    <li><a href="javascript:void(0);">DISCOVER</a></li>
							</ul>
						</div>

						<div class="input-field col s5">
							<input type="text" pattern="[0-9]{13,16}" placeholder=" CREDIT CARD #" ng-model="creditCard" required>
						</div>
						<div class="input-field col s2">
							<input type="text" placeholder=" EXP XX" ng-model="expireMonth">
						</div>
						<div class="input-field col s2">
							<input type="text" placeholder=" YR XXXX" ng-model="expireYear">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s3 offset-s8">
							<input type="text" placeholder=" CCV" ng-model="ccv">
						</div>
					</div>

				</form>
			</div>

				<div id="placeOrder" class="center-align">
					<a class="btn-large waves-effect waves-light" ng-click="guestCheckout(); loading=true">PLACE ORDER</a>
				</div>

				<br>

			<div class="progress animated fadeIn" ng-show="loading">
      			<div class="indeterminate"></div>
  			</div>

		</div>

	</div>
</div>


