<div>
	item: {{product.transactions[0].description}}  ${{product.transactions[0].amount.total}}
	<div>
		{{name}}
		<button ng-click="paypal()">pay with paypal</button>
	</div>
	<div>
		<p>Guest Checkout</p>
		Name: <input placeholder="Name">
		Email: <input placeholder="Email">
		Address: <input placeholder="Address">
		City: <input placeholder="City">
		State: <input placeholder="State">
		Zip: <input placeholder="Zip">
		CC Number: <input placeholder="CC">
		Exp Date: <input placeholder="Exp Date">
		CCV: <input placeholder="CCV">
	</div>
	<button ng-click="submitCC()">Submit Payment</button>
</div>